VITE_API_URL=http://localhost:5000/api/v1
# Production example:
# VITE_API_URL=https://employee-management-system-backend-b4wd.onrender.com/api/v1

# Cloudinary Configuration
# Replace with your actual Cloud Name (e.g., 'kachahris')
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name_here
# Replace with your actual Upload Preset (e.g., 'ml_default')
VITE_CLOUDINARY_UPLOAD_PRESET=your_upload_preset_here
# The key you provided (might be an API Secret or Preset, usually not needed for frontend unsigned uploads)
VITE_CLOUDINARY_API_KEY=your_api_key_here
